<!DOCTYPE html>
<html>
  <head>
    <title>VidBits - Edit a video</title>
    <link rel="icon" type="/image/ico" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
    <link rel='stylesheet' href='stylesheets/style.css'>
  </head>
  <body>
    <div class="title-container">
      <div class="title-logo">
        <img src="img/logo.svg" alt="">
      </div>
    </div>
    <div id="Save-Video-Container" class="contents-container">
      <h1 id="create-video-h1">Edit a video</h1>
      <form class="input-form" action="/videos/{{id}}/updates" method="post" >
      <label class="form-label" for="title">Title</label>
      {{#if error.title}}<span class="title-error">{{error.title.message}}</span>{{/if}}
      <input id="title-input" name="title" maxlength="50" value="{{title}}"/>
      <label class="form-label" for="description">Description</label>
      {{#if error.description}}<span class="description-error">{{error.description.message}}</span>{{/if}}
      <textarea id="description-input" name="description" maxlength="50">{{#if description}}{{description}}{{/if}}</textarea>
      <label class="form-label" for="url">url</label>
      {{#if error.url}}<span class="url-error">{{error.url.message}}</span>{{/if}}
      <input id="url-input" name="url" maxlength="200" value="{{#if url}}{{url}}{{/if}}"/>
      <input type="hidden" id="id" name="id" maxlength="200" value="{{#if id}}{{id}}{{/if}}"/>
      <input id="submit-button" name="Update-button" type="submit" value="Update"/>
  </div>
</body>
</html>
